@import 'font-face';

/* ------------------ GLOBAL STYLE ------------------- */

$baseline: 1.5;
$baseheight: 18px;

@mixin paragraph() {
  padding:0;
  margin:0;
  margin-bottom: $baseline * 1rem;
}

html {
	font-family: OpenSans, sans-serif;
	text-align: left;
	font-size: $baseheight;
}

body {
	line-height: $baseline * 1rem;
	color: #444;
	font-weight: 400;
}

.night-mode {
  color:#BBB;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

a {
  color:#2484c1;
  text-decoration:none;
}

p {
  @include paragraph();
  &:last-child {
    margin-bottom:0;
  }
}

ul {
  @include paragraph();
  ul {
    margin-bottom:0;
  }
  li {
    margin-left: $baseline * 1rem;
  }
}

ol {
  @include paragraph();
  ol {
    margin-bottom:0;
  }
  li {
    margin-left: $baseline * 1rem;
  }
}


::selection { background: #2484c1; color: #fff; }
::-moz-selection { background: #2484c1; color: #fff; }

/* ------------------ WRAPPERS ------------------- */

.text-wrapper {
  width:$baseheight*40;
  margin: auto;
}

/* ------------------ TITLES ------------------- */

@mixin title($size, $weight) {
    $height: ceil($size / $baseline) * $baseline;
	font-size: $size * 1rem;
	line-height: $height * 1rem;
	margin-bottom: $baseline * 1rem;
	font-weight: $weight;
}

h1, h2, h3, h4, h5, h6, h7 {
  text-align: left;
	font-size: 1em; 
	line-height: 1.5em; 
	padding:0;
	margin:0;
	font-weight:400;
}

h1 {
  @include title(2.3333333, 700);
}

h2 {
  @include title(2, 700);
}

h3 {
  @include title(1.5, 700);
}

h4 {
  @include title(1.5, 600);
}

h5 {
  @include title(1.333333, 600);
}

h6 {
  @include title(1.1, 600);
}

/* ------------------ HR ------------------- */

hr {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-color: rgba(1,1,1,0.15);
	border-style: solid;
	margin-bottom: $baseline * 1rem;
}

/* ------------------ QUOTE ------------------- */

@mixin well() {
  border-width: 0 0 0 0.2em;
	border-style: solid;
	border-radius: 3px;
	margin:0;
	margin-bottom: $baseline * 1rem;
	padding: $baseline/2 * 1rem;
	
	max-width: 100%;
}

blockquote {
  @include well();
	border-color: rgba(1, 1, 1, 0.15);
	
	.night-mode & {
    border-color: rgba(255, 255, 255, 0.15)
  }
}

pre {
  @include well();
	border-color: rgba(1,1,1,0.20);
	background-color:#EEE;
	
	.night-mode & {
    background-color:#222;
    border-color:rgba(255,255,255,0.20);
  }
}



/* ------------------ SPECIAL STYLING ------------------- */

mark {
  border-radius: 0.2em;
  padding:0 0.2em 0 0.2em;
  
  background-color:rgba(255,255,0,0.33);
  color: inherit;
}

.night-mode mark {
  background-color:rgba(128,128,0,0.66);
}

/* ------------------ SPECIAL STYLING ------------------- */

.time {
	font-style: italic;
	text-align: right;
	width: 100%;
	display: block;
}
